* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body{
  background-color: #f6f7f9;
  font-family: 'Raleway', sans-serif;
  color: #000;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
}

/* FROM HERO */
/* ####################
HERO SECTION 
#################### */
.slider {
  position: relative;
  /* height: 480px; */
  padding: 50px 0px;
  display: flex;
  justify-content: space-between;
}

.slider .main-slider {
  position: relative;
  width: 64%;
  height: inherit;
  background-color: #0082f1;
  border-radius: 10px;
  padding: 100px 60px;
  color: #fff;
  display: flex;
  overflow: hidden;
  box-shadow: 0px 50px 45px -45px #0082f1;
}

.main-slider-content h3 {
  font-size: 1.6em;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.493);
}

.main-slider-content h1 {
  font-size: 4.5em;
  font-weight: 800;
  margin: 10px 0px 40px 0px;
}

.btn {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  display: inline-flex;
  align-items: center;
  border: 2px solid #ebebeb;
  border-radius: 50px;
  padding: 14px 28px; 
}

.btn span {
  margin-right: 10px;
}

.controller-pic {
  position: absolute;
  left: 450px;
  bottom: 60px;
}


.controller-pic img{
  width: 500px;
}

/* ####################
HERO SECTION RIGHT
#################### */
.slider .groupings {
  width: 34%;
  height: inherit;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.grp-box {
  position: relative;
  /* background-color: black; */
  height: 47%;
  width: 47%;
  overflow: hidden;
  border-radius: 12px;
  display: flex;
  justify-content: center;
}

.grp-box::before {
  content: "";
  /* background-color: green; */
  height: 200px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -60px;
  transform: skewY(-20deg);
  border-radius: 12px;
  z-index: 99;
}

.grp-box .display-pic {
  width: 155px;
  height: 150px;
  background-color: red;
  z-index: 99;
  border-radius: 10px;
  overflow: hidden;
}

.grp-box .display-pic img{
  width: inherit;
  height: 100%;
  object-fit: cover;
}

.grp-box .content {
  position: absolute;
  z-index: 99;
  bottom: 18px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 20px;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  width: 100%;
}

.grp-box .content .grp-link a {
  display: block;
  color: #fff;
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 700;
}

.grp-box .content .grp-link p {
  color: rgb(255 255 255 / 65%);
  font-size: .9em;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
}

.grp-box .content .grp-nav a {
  background-color: rgb(0 0 0/10%);
  padding: 8px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  box-sizing: content-box;
}

.grp-box:nth-child(1).grp-box::before {
  background-color: #ff8a66;
}
.grp-box:nth-child(2).grp-box::before {
  background-color: #f15c7f;
}
.grp-box:nth-child(3).grp-box::before {
  background-color: #27bd98;
}
.grp-box:nth-child(4).grp-box::before {
  background: linear-gradient(45deg, #7c3ce1, #b978ff);
}

.grp-box:nth-child(1) {
  box-shadow:  0px 30px 20px -30px #ff8a66;
}
.grp-box:nth-child(2) {
  box-shadow:  0px 30px 20px -30px #f15c7f;
}
.grp-box:nth-child(3) {
  box-shadow:  0px 30px 20px -30px #27bd98;
}
.grp-box:nth-child(4) {
  box-shadow:  0px 30px 20px -30px #b978ff;
}

.stack {
  height: 100%;
  position: absolute;
}

.stack::before {
  content: "";
  height: 200px;
  position: absolute;
  left: 0;
  right: 0;
  transform: skewY(-20deg);
  border-radius: 12px;
}

.stack.one{
  width: 96%;
}

.stack.one::before {
  bottom: -50px;
  background-color: #2ebf9b;
  z-index: 55;
}

.stack.two{
  width: 88%;
}

.stack.two::before {
  bottom: -41px;
  background-color: #506eda;
}

/* HERO END */

@media only screen and (max-width: 850px) {
  .desktop-only {
    display: none !important;
  }

  .slider .main-slider {
    width: 100% !important;
  }
}